body {
  font-family: sans-serif;
  background: #FFF;
  margin: 0;
  padding: 0;
  overflow: scroll;
  
}

.network-graph{
   top: 320px;
   bottom: 0px;
   left: 20px;
   right: 20px;
   position: absolute;
   background-color: #87CEFA;
   margin: auto;
 }



.output1 {
  margin-bottom: 1em;
  padding: 1em;
  color: #fff;
  border-bottom: 2px dashed #42595E;
  text-align: center;
  
  font-size: .8em;
  color: #475D62;
}


.output2 {
  margin-bottom: 1em;
  padding: 1em;
  color: #fff;
  border-bottom: 2px dashed #42595E;
  text-align: center;
  
  font-size: .8em;
  color: #475D62;
}



.output {
  margin-bottom: 1em;
  padding: 1em;
  color: #fff;
  border-bottom: 2px dashed #42595E;
  text-align: center;
  text-transform: uppercase;
  font-size: .8em;
  color: #475D62;
}



